<a href="https://colab.research.google.com/github/khushiisainii/Complete-Python-3-Bootcamp/blob/master/Copy_of_human_resources_data_science_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
# You will need to mount your drive using the following commands:
# For more information regarding mounting, please check this out: https://stackoverflow.com/questions/46986398/import-data-into-google-colaboratory

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
employee_df = pd.read_csv('/content/Human_Resources.csv')

In [9]:
employee_df.describe

<bound method NDFrame.describe of       Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
1                  2  ...                         4            80
2                  4  ...                         2            80
3                  5  ...                         3            80
4                  7  ...                         4            80
...              ...  ...                       ...           ...
1465            2061  ...                         3            80
1466            2062  ...                         1            80
1467            2064  ...                         2            80
1468            2065  ...                         4            80
1469            2068  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
1                    1                 10                      3
2                    0                  7                      3
3                    0                  8                      3
4                    1                  6                      3
...                ...                ...                    ...
1465                 1                 17                      3
1466                 1                  9                      5
1467                 1                  6                      0
1468                 0                 17                      3
1469                 0                  6                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
1                  3              10                  7
2                  3               0                  0
3                  3               8                  7
4                  3               2                  2
...              ...             ...                ...
1465               3               5                  2
1466               3               7                  7
1467               3               6                  2
1468               2               9                  6
1469               4               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 35 columns]>

In [10]:
employee_df.info

<bound method DataFrame.info of       Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
1                  2  ...                         4            80
2                  4  ...                         2            80
3                  5  ...                         3            80
4                  7  ...                         4            80
...              ...  ...                       ...           ...
1465            2061  ...                         3            80
1466            2062  ...                         1            80
1467            2064  ...                         2            80
1468            2065  ...                         4            80
1469            2068  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
1                    1                 10                      3
2                    0                  7                      3
3                    0                  8                      3
4                    1                  6                      3
...                ...                ...                    ...
1465                 1                 17                      3
1466                 1                  9                      5
1467                 1                  6                      0
1468                 0                 17                      3
1469                 0                  6                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
1                  3              10                  7
2                  3               0                  0
3                  3               8                  7
4                  3               2                  2
...              ...             ...                ...
1465               3               5                  2
1466               3               7                  7
1467               3               6                  2
1468               2               9                  6
1469               4               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 35 columns]>

In [12]:
employee_df['Attrition'] = employee_df['Attrition'].apply( lambda x:1 if x == Yes else 0)

NameError: ignored

In [ ]:
employee_df['OverTime']= employee_df['OverTime'].apply(lambda x:1 if x == Yes else 0)

In [ ]:
employee_df['Over18']= employee_df['Over18'].apply(lambda x:1 if x == Yes else 0)

In [ ]:
sns.heatmap(employee_df.isnull(), yticklabels = False , cbar = False, cmap = Blues )

In [ ]:
employee_df.hist (bins = 30 , figsize= (20,20), colour = 'r' )

In [ ]:
employee_df.drop ['Employee count', 'Over18','StandarHours','EmployeeNumber'], axis  = 1 , inplace = True

In [ ]:
left_df = employee_df[employee_df['Attrition == 1]]
stayed_df = emplyee_df[employee_df['Attrition' == 0]]

In [ ]:
print('%age of employees who left =', 1*len(left_df)/len(employee_df) *100  , '%')
print('% of employees who stayed =' , 1 *len(stayed_df)/len(employee_df) *100 , '%')

In [ ]:
correlations = employee_df.corr()
f, ax plt.subplots(figsize = (20,20))
sns.heatmap (correlations, annot = True)

In [ ]:
plt.figure(figsize[21,25])
sns.countplot ( x = 'AGE' , hue = 'Attrition', data = employee_df)

In [ ]:
plt.figure(figsize = [20,20])
plt.subplots(411)
sns.countplot(x = 'JobRole', hue = 'Attrition', data = employee_df)
plt.subplots(412)
sns.countplot(x = 'MaritalStatus', hue = 'Atrition', data = employee_df)
plt.subplots(413)
plt.subplots(414)

In [ ]:
plt.figure(figsize =(12,7))
sns.kdeplot(left_df['Years With Current Manager'], label= 'Employees Who Left', shade = True
colour = 'r'

plt.xlabel('Year With Current Manager ')

In [ ]:
employee_df.head(3)

In [ ]:
x_cat = employee_df[['business Travel', 'Department', 'Education', 'Gender', 'JobRole', 'Martial Status']]

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohc = OneHotEncoder()
x_cat = ohc.fit_transform(x_cat).toarray()

In [ ]:
x_numerical = employee_df[['Age,'Daily Rate']]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x = scaler.fit_transform(x_all)

In [ ]:
from sklearn.emsemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y _train)

In [ ]:
import tensorflow as tf

model = tf.keras.models.Sequantial
model.add(tf.keras.layers.Dense(units = 500, activation = 'relu', input_shape = (50)))
model.add(tf.keras.layers.Dense (units = 500 , activation = 'relu')
model.add(tf.keras.layers.Dense (units = 500 , activation = 'relu')
model.add(tf.keras.layers.Dense (units = 500 , activation = 'sigmoid')

In [ ]:
model.summary()

In [ ]:
model.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
epochs_hist = model.fit(x_train, y_train, epochs = 100, batch_size = 50)

In [ ]:
y_pred = model.predict (x_test)
y_pred = (y_pred>0.5)

In [ ]:
plt.plot(epochs_hist.history['loss'])
plt.title('Model Loss Progress During Training ')
plt.xlabel('Epoch')
plt.ylabel('Training Loss')
plt.legend(['Training Loss'])

In [ ]:
plt.plot(epochs_hist.history['Accuracy'])
plt.title('Model Loss Progress During Training ')
plt.xlabel('Epoch')
plt.ylabel('Training Loss')
plt.legend(['Training Loss'])

In [ ]:
from sklearn.merics import confusion_matrix, classification_report

print ('Accuracy {}% '. format)

In [ ]:
cm = confusion_matrix (y_pred, y_test)
sns.heatmap(cm , annot =True)

In [ ]:
print(classification_report(y_test, y_pred))